.presentation {
    margin: 0;
    padding: 50px 0 150px;
    background-color: #ececec;
    &__title {
        font-size: 35px;
        color: #315c99;
        padding-bottom: 50px;
    }
    &__container{
        display: flex;
        justify-content: center;
        margin: auto;
        &__list {
            margin-right: 80px;
            width: 333px;
            border-right: 2px solid #315c99;
            padding-right: 80px;
            li{
                text-align: left;
                list-style-type: none;
                padding-bottom: 20px;
                font-weight: bolder;
                font-size: 20px;
            }
            &__icone {
                width: 24px;
                height: 24px;
                color: #315c99;
                margin-right: 10px;
            }
            &__span {
                padding-left: 10px;
                font-weight: 600;
            }
        }
        &__div-text {
            width: 333px;
            border-right: 2px solid #315c99;
            padding-right: 80px;
            margin-right: 80px;
        }
        &__text {
            font-size: 22px;
            font-weight: 600;
            text-align: left;
            line-height: 35px;
            margin-top: 15px;

        }
        &__div-opc {
            width: 333px;
            &__title {
                display: flex;
                flex-direction: row;
                align-items: baseline;
                align-content: center;
                width: 600px;
            }
            &__sous-title{
                text-align: left;
                margin-top: 0;
                font-size: 16px;
            }
            img {
                margin-top: 15px;
                height: 30px;
            }
            .icone-certificate {
                color: green;
                height: 30px;
                margin: 0 10px;
            }
            h4 {
                transform: translateY(-5px);
                font-size: 22px;
            }
            ul {
                text-align: left;
                width: 600px;
                max-width: 600px;
                margin-top: 0;
                padding-left: 20px;
            }
            li {
                font-size: 18px;
                font-weight: 500;
            }
            a {
                text-decoration: none;
                color: black;
            }
            a:hover {
                color: #315c99;
            }
        }
    }
    &__button__container {
        display: flex;
        justify-content: space-between;
        margin: auto;
        max-width: 800px;
        margin-top: 80px;
    }
    &__button {
        padding: 15px 25px;
        border: none;
        border-radius: 10em;
        background: #315c99;
        font-size: 17px;
        color: #ffffff;
        font-family: inherit;
        font-weight: 500;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        cursor: pointer;
        }
        
    &__button:hover {
    animation: shake3856 1.5s linear infinite both;
    }
    
    @keyframes shake3856 {
    0% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }
    
    20% {
        -webkit-transform: translate(-2px, 2px);
        transform: translate(-2px, 2px);
    }
    
    40% {
        -webkit-transform: translate(-2px, -2px);
        transform: translate(-2px, -2px);
    }
    
    60% {
        -webkit-transform: translate(2px, 2px);
        transform: translate(2px, 2px);
    }
    
    80% {
        -webkit-transform: translate(2px, -2px);
        transform: translate(2px, -2px);
    }
    
    100% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }
    }
    
}

@media screen and (max-width: 940px) {
    .presentation {
        padding-bottom: 100px;
        &__container {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            &__list {
                width: 100%;
                margin: 0;
                border: none;
                padding: 0;
            }
            &__div-text {
                width: 80%;
                border-right: none;
                border-top: 2px solid #315c99;
                border-bottom: 2px solid #315c99;
                padding: 20px 20px;
                margin: 0 20px;
            }
            &__div-opc {
                width: 80%;
                margin: 20px 20px 0 20px;
                &__title {
                    width: 100%;
                }
                h4 {
                    font-size: 20px;
                }
                ul {
                    width: 100%;
                }
            }
        }
        &__button__container {
            flex-direction: column;
        }
        &__button {
            margin-bottom: 50px;
        }
    }
}
