.home {
    background-color: #315c99;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;

    &__name {
        border-bottom: 3px solid #fff;
        padding-bottom: 20px;
        opacity: 0;
        transform: translateX(-100%);
        transition: opacity 1.5s ease, transform 1.5s ease;
        font-size: 48px;
    }

    &__dev {
        margin-top: 0;
        text-align: left;
        opacity: 0; 
        transform: translateX(100%); 
        transition: opacity 1s ease-out, transform 1s ease-out; 
        font-size: 34px;
        .icone__dev {
            padding-right: 20px;
        }
    }

    &.visible {
        .home__name, .home__dev {
            opacity: 1;
            transform: translateX(0);
        }
    }
    &__chevron {
        position: absolute;
        bottom: 20px;
        margin: 0;
        color: #fff;
        font-size: 24px;
        transform: translateX(-10px);
    }
}

